.container{
display: flex;
height: 400px;
width: 300px;
border: 1px solid black;
background-color: blanchedalmond;
flex-wrap: wrap-reverse;
}

.item{
    height: 100px;
    width: 100px;
    background-color: chocolate;
    border: 1px double black;
}
