p{
    color: red;
    background-color: blueviolet;
    text-align: center;
}

.p{
color: green;
background-color: black;
}

#jk{

  font-size: 30px;  
}
/* em: This unit is relative to the font size of the parent element. */
/* rem: This unit is relative to the font size of the root HTML element. */
%: This unit is relatove to the font size 